@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

body {
    @apply bg-gray-50 dark:bg-gray-950 transition-colors duration-300;
}
  @media (max-width: 768px) {
    .header-buttons {
      display: flex;
      align-items: center;
      gap: 10px; /* Espace entre les boutons */
    }
  
    .language-button,
    .dark-mode-button {
      position: static; /* Retirez le positionnement absolu */
      margin-left: auto; /* Pousse les boutons à droite */
    }
  
    .menu-button {
      margin-left: 10px; /* Espace entre les boutons et le menu */
    }
  }
